<%- include('partials/logged-in-header') -%>

<div class="container card-container">
  <div class="row justify-content-center mt-5">
    <div class="col-6">
      <h2><%= post.patientName %></h2>
      <img class="img-fluid" src="<%= post.image%>" />
      <div class="row justify-content-start">
        <form
          class="col-1"
          action="/post/likePost/<%= post.id %>?_method=PUT"
          method="POST"
        >
          <button class="btn btn-primary fa fa-star" type="submit" ></button>
        </form>
        <h3 class="col-3">Starred: <%= post.likes %></h3>
        <%if(post.user == user.id){ %>
        <form
          action="/post/deletePost/<%= post.id %>?_method=DELETE"
          method="POST"
          class="col-3"
        > 
        <p> <button class=" dcBtn btn btn-primary btn-sm col-3" type="submit">  Discharge</button>   </p>     
      </form> 
        
        <%}%>
      </div>
    </div>
    <div class="col-3 mt-5">
      <!-- <div class="postInfo"> -->
      <h9>Diagnosis:</h9> <p><%= post.diagnosis %></p>
      <h9>Assist Levels:</h9> <p><%= post.caption %></p>
      <h9>Goals:</h9> <p><%= post.ptGoals %></p>
      <h9>Location:</h9> <p><%= post.locationAddress %></p>
      <h9>Phone Number:</h9> <p><%= post.ptPhoneNum %></p>
      <h9>Email:</h9> <p><%= post.ptEmail %></p>

    </div>
    <!-- <div class="col-6 mt-5">
      <a class="btn btn-primary" href="/profile">Return to Homepage</a>
      <a class="btn btn-primary" href="/feed">Return to Patient Census</a>
    </div> -->
  </div>
</div>

<%- include('partials/footer') -%>
